* {
    margin: 0;
    padding: 0px;
}

html {
    font-family: inter;
}

#next {
    margin-right: 650px;
    margin-top: 10px;
    margin-left: 10px;
}

#pricing, #faq, #reviews {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    color: #323232;
    font-family: inter;
    font-weight: 400;
}

#contactUs {
    margin-left: 700px;
    vertical-align: top;
    margin-top: 25px;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #6941C6;
    background-color: #6941C6;
    color: white;
}

#mainDiv {
    background-color: #F1E8FF;
    width: 1530px;
    margin: 0 auto;
    margin-top: 120px;
    padding-top: 96px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

#mainParagraph {
    color: #535862;
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    width: 660px;
}

#cards {
    padding-bottom: 64px;
    background-color: #F1E8FF;
    margin-bottom: 30px;
}

#cardOne, #cardTwo, #cardThree {
    display: inline-block;
    margin-left: 128px;
    margin-top: 32px;
    padding: 40px 16px;
    width: 373px;
    background-color: white;
    border-radius: 16px;
    height: 557px;
}

#cardTwo, #cardThree {
    margin-left: 32px;
}

#basicPlan, #businessPlan, #enterprisePlan {
    width: 93px;
    margin: 0 auto;
    color: #6941C6;
    font-weight: 400;
    font-size: 14px;
    display: inline;
    border: 1px solid #E9D7FE;
    border-radius: 16px;
    padding: 6px 6px;
    margin-bottom: 25px;
    margin-left: 140px;
}

#tendollars, #twentydollars, #fortydollars {
    margin-top: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 8px;
}

#popular, #users {
    text-align: center;
    color: #535862;
    font-weight: 400;
    margin-bottom: 16px;
}

#getStartedOne, #getStartedTwo, #getStartedThree {
    width: 309px;
    padding: 12px 18px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #7F56D9;
    border: 2px solid rgba(255, 255, 255, 0.12);
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
}

#chatOne, #chatTwo {
    width: 309px;
    padding: 12px 18px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(204, 202, 202);
    margin-bottom: 65px;
}

#access {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

#check {
    margin-left: 16px;
    margin-right: 12px;
    margin-bottom: 16px;
}

#checkOne, #checkTwo {
    padding-top: 32px;
    border-top: 1px solid #E9EAEB;
}

#faqTwo {
    background-color: white;
    width: 1400px;
    margin: 0 auto;
    border-radius: 16px;
    padding-top: 30px;
}

#faqHeader {
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 20px;
}

#faqParagraph {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #535862;
}

#arrow {
    margin-right: 24px;
}

#qOne {
    width: 770px;
    margin: 0 auto;
    margin-top: 32px;
    background-color: #E4E4E4;
    padding: 32px;
    border-radius: 16px;
}

#free {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: 400;
}

#longOne {
    font-size: 20px;
    color: #535862;
    margin-top: 10px    ;
}